.style60
    {
        width: 103px;
    }
    .style61
    {
            width: 143px;
            height: 27px;
        }
    .style62
    {
        width: 103px;
        height: 27px;
    }
    .style63
    {
        width: 127px;
        height: 45px;
    }
    .style64
    {
        width: 474px;
            height: 287px;
        }
        .style66
        {
            width: 146px;
        height: 67px;
    }
    .style67
    {
        width: 143px;
        height: 45px;
    }
    .style68
    {
        width: 1386px;
        height: 45px;
    }
    .style69
    {
        width: 474px;
        height: 67px;
    }
    .style70
    {
        width: 1386px;
        height: 67px;
    }
    .style71
    {
            height: 67px;
        }
        .style72
        {
            width: 1386px;
            height: 287px;
        }
        .style73
        {
            height: 287px;
        }
        .style74
        {
            width: 490px;
            height: 21px;
        }
        .style75
        {
            width: 1386px;
            height: 21px;
        }
        .style76
        {
            width: 845px;
            height: 21px;
        }