 .style60
        {
            
            height: 298px;
        width: 468px;
        margin-right: 0px;
    }
        .style62
        {
            width: 123px;
        }
        .style63
    {
            width: 123px;
        }
        .style67
        {
            width: 6px;
        }
        .style68
        {
        }
        .style70
        {
            width: 2px;
            height: 29px;
        }
        .style71
        {
            width: 123px;
            height: 29px;
        }
        .style72
        {
            width: 651px;
            height: 29px;
        }
    .style73
    {
        width: 40px;
        height: 4px;
    }
    .style74
    {
        width: 40px;
        height: 29px;
    }
        .style75
        {
            width: 40px;
            height: 119px;
        }
        .style76
        {
            height: 119px;
        }