 .style48
        {
            width: 326px;
            height: 35px;
        }
        .style50
        {
            height: 35px;
        }
    .style52
    {
        width: 2149px;
        height: 35px;
    }
    .style53
    {
        width: 2386px;
        height: 9px;
    }
    .style54
    {
        width: 420px;
        height: 9px;
    }
        .style63
        {
            width: 156px;
        }
        .style64
        {
            width: 13px;
        }
        .style65
        {
            width: 294px;
            height: 62px;
        }
        .style68
        {
            width: 36px;
        }
        .style69
        {
            width: 118px;
        }
        .style70
        {
            width: 36px;
            height: 62px;
        }
        .style72
        {
        width: 2386px;
        height: 4px;
    }
        .style73
        {
            height: 7px;
        }
    .style74
    {
        width: 152px;
        height: 7px;
    }
