     .style55
    {
        width: 90px;
        height: 50px;
    }
    .style56
    {
        width: 90px;
        height: 63px;
    }
    .style58
    {
        width: 317px;
        height: 47px;
    }
    .style60
    {
        width: 433px;
        height: 50px;
    }
    .style61
    {
        width: 433px;
            height: 63px;
    }
    .style63
    {
        width: 285px;
        height: 47px;
    }
    .style67
     {
            width: 90px;
            height: 50px;
        }
        
     .style70
      {
            width: 90px;
            height: 2px;
      }
      .style71
      {
            height: 46px;
      }
        
      .style82
      {
            width: 285px;
            height: 33px;
        }
      .style83
      {
            width: 78px;
      }
        
        .style105
        {
            width: 325px;
            height: 8px;
        }
        .style117
        {
            width: 325px;
            height: 23px;
        }
        .style124
        {
            width: 833px;
            height: 14px;
        }
        .style126
        {
            width: 292px;
            height: 14px;
        }
        .style127
        {
            width: 90px;
            height: 14px;
        }
        .style128
        {
            width: 433px;
            height: 14px;
        }
        .style135
        {
            width: 292px;
            height: 8px;
        }
        .style136
        {
            width: 433px;
            height: 8px;
        }
        .style137
        {
            width: 90px;
            height: 8px;
        }
        .style138
        {
            width: 285px;
            height: 8px;
        }
        .style139
        {
            width: 285px;
            height: 39px;
        }
        .style141
        {
            width: 433px;
            height: 39px;
        }
        .style142
        {
            width: 325px;
            height: 39px;
        }
        .style143
        {
            width: 292px;
            height: 39px;
        }
        .style145
        {
            width: 292px;
            height: 2px;
        }
        .style146
        {
            width: 433px;
            height: 2px;
        }
        .style147
        {
            width: 285px;
            height: 2px;
        }
        .style157
        {
            width: 90px;
            height: 12px;
        }
        .style158
        {
            width: 285px;
            height: 12px;
        }
        .style159
        {
            width: 292px;
            height: 12px;
        }
        .style160
        {
            width: 433px;
            height: 12px;
        }
        .style161
        {
            width: 90px;
            height: 28px;
        }
        .style162
        {
            width: 285px;
            height: 28px;
        }
        .style163
        {
            width: 292px;
            height: 28px;
        }
        .style164
        {
            width: 433px;
            height: 28px;
        }
        .style165
        {
            width: 285px;
            height: 7px;
        }
        .style166
        {
            width: 292px;
            height: 7px;
        }
        .style167
        {
            width: 433px;
            height: 7px;
        }
        .style168
        {
            width: 898px;
            height: 7px;
        }
        .style169
        {
            width: 285px;
            height: 23px;
        }
        .style170
        {
            width: 292px;
            height: 23px;
        }
        .style171
        {
            width: 433px;
            height: 23px;
        }
        